$yellow: #ffc821;
$dark-red: #6d1a1a;
$red: #af0e0e;
$header-blue: #445971;
$header-grey: #f3f4f6;
$white: #fff;

// Jobsite
$js-light-green: #c0d93e;
$js-dark-green: #83971b;
$js-grey: #363636;
