@import "../../../styles/breakpoints.scss";
@import "../../../styles/variables.scss";

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(https://www.battlefieldequipment.ca/img/bgtexturedefault.jpg) no-repeat
      center;
  background-size: cover;
  background-color: black;
  padding: 50px 0px 60px 0px;
  h1,
  h2 {
    color: $white;
    font-weight: bold;
    @include bp-tablet-sm {
      text-align: center;
    }
  }
  h1 {
    font-size: 56px;
    text-transform: uppercase;
    @include bp-tablet-sm {
      font-size: 18px;
    }
  }
  h2 {
    font-size: 20px;
    @include bp-tablet-sm {
      font-size: 10px;
    }
  }
}
