@import "../../../styles/breakpoints.scss";

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  @include bp-tablet-sm {
    display: block;
  }
  li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;

    a {
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      color: #333;
      text-decoration: none;
    }

    &.active a {
      background-color: #333;
      color: #fff;
    }

    &:hover a {
      background-color: #f5f5f5;
    }
  }
}
